{# 앱 카드 컴포넌트 - 홈 페이지 목록용 #}
{# 사용: {% include "app-card.njk" %} (cardApp, cardLang 변수 필요) #}
{% set cl = cardLang or 'ko' %}
{% set prefix = '/en/' if cl == 'en' else '/' %}

<a href="{{ prefix }}{{ cardApp.slug }}/" class="app-card">
  <div class="app-card__icon">
    {# 아이콘 이미지 (placeholder) #}
    <div class="app-card__icon-placeholder">{{ cardApp.name[cl] | first }}</div>
  </div>
  <div class="app-card__info">
    <h3 class="app-card__name">{{ cardApp.name[cl] }}</h3>
    <p class="app-card__desc">{{ cardApp.description[cl] }}</p>
  </div>
</a>
