---
layout: layouts/app.njk
lang: en
title: "Capital Gains Tax"
appSlug: capital-gains-tax
appName: Capital Gains Tax
appHasHelp: false
alternateLang: ko
alternateUrl: /capital-gains-tax/
---

<h1>Capital Gains Tax</h1>
<p>A capital gains tax calculator app.</p>
<p>Easily calculate capital gains tax for real estate transactions.</p>

